*{
      margin: 0;
      padding: 0;
}
#CenterBlockElement{
      margin: auto;
}
.HeaderWrapper{
      display: flex;
      justify-content: space-between;
}

.links ul , .C-links ul{
      display: flex;
      list-style-type: none;
}

ul li {
      margin-left: 10px;
}

.C-links{
      display: flex;
      align-items: center;
}
.inputBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  #8bc43f;
  padding: 15px 15px 0px 15px;
  border-radius: 10px;

}
.inputBox input{
      padding: 15px;
}
.carousel-item img{
      /* opacity: 0.8; */
      filter: blur(3px);
}
#inputBox input::placeholder{
      font-size: 20px;
      font-weight: 800;
}