*{
      margin: 0;
      padding: 0;
}
:root {
      --LightGreen: #95d83c;

    }
#CenterBlockElement{
      margin: auto;
}
.HeaderWrapper{
      display: flex;
      justify-content: space-between;
}

.links ul , .C-links ul{
      display: flex;
      list-style-type: none;
}

ul li {
      margin-left: 10px;
}

.C-links{
      display: flex;
      align-items: center;
}
.links{
      display: flex;
      align-items: center;
}
.inputBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  var(--LightGreen);
  padding: 15px 15px 0px 15px;
  border-radius: 10px;

}
.inputBox input{
      padding: 10px;
}
#inputBox input[type=text]{
      font-size: 2vw;
      font-weight: 800;
}
.carousel-item img{
      filter: blur(2px);
}

#inputBox input::placeholder{
      font-size: 2vw;
      font-weight: 800;
}
.location-list{
      list-style-type: none;
      position: absolute;
      top: 60px;
      background-color: #fff;
      padding-left: 0;
      margin-bottom: 0;
}
.location-list li{
  margin-left: 0px;
  padding: 5px;
  width: 27.3vw;
  border-bottom: 2px solid var(--LightGreen)
      
}
.location-list li:hover{
background-color: var(--LightGreen);
}

